#header { 
  display: none;
}

#body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: helvetica;
}

#p {
  font-family: helvetica;
  font-weight: 100;
  text-align: left;
}

h2 {
  color:black;
  font-family: helvetica;
  font-size: 220%;
  font-weight: 500;
  line-height: 30%;
}

h3 {
  color:gray;
  font-family: helvetica;
  font-size: 120%;
  font-weight: 100;
  line-height: 26px;
}

.fa {
  color: black;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-left: -50vw;
  width: 100vw;
  position: relative;
  top: 0;
  left: 50%;
}
.flex-container .boxed {
  display: flex;
  background-color: rgba(0,0,0,0);
  position: relative;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: left;
  line-height: inherit;
  font-size: 16px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.flex-container .box {
  background-color: rgba(0,0,0,0);
  position: relative;
  width: 100vw;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: left;
  font-size: 16px;
}

.flex-container .bigside {
  background-color: rgba(0,0,0,0);
  position: relative;
  width: 70vw;
  margin-left: 30px;
  margin-right: 0;
  text-align: left;
  font-size: 16px;
  padding: 0;
}
.flex-container .side {
  background-color: rgba(0,0,0,0);
  position: relative;
  width: 40vw;
  text-align: left;
  font-size: 16px;
}

#controls{margin: auto;}

.rounded-corners{
  border-radius: 50% 50% 50% 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topnav {
  z-index:1;
  font-family: helvetica;
  font-size: 32px;
  font-weight: 100;
  overflow: hidden;
  background-color: #ffffff;
  width: 100vw;
  margin-top: -50px;
  margin-left: -15px;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 10px;
  padding-top: 10px;
  display:inline-block;
  position:fixed;
  float: left;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.topnav-right {
  font-size: 32px;
  float: right;
}

.topnav-right a {
  float: right;
  color: black;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #006D00;
  text-decoration: underline;
}

a {
  color: #006D00;
}