#header { 
  display: none;
}

#body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: courier;
}

#p {
  font-family: courier;
  font-weight: normal;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #ffffff;
  width: 100vw;
  margin-left: -50vw;
  position: absolute;
  top: 0;
  left: 50%;
}
.flex-container .box {
  background-color: #ffffff;
  position: relative;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: auto;
  font-size: 16px;
  padding: 10px;
}

#controls{margin: auto;}

.topnav {
  z-index:1;
  font-family: courier;
  font-size: 32px;
  font-weight: bold;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  display:inline-block;
  position:fixed;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #006D00;
  text-decoration: underline;
}

.topnav-right {
  float: right;
}

.topnav-right a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}