#header { 
  display: none;
  margin: 0;
}

* {box-sizing: border-box;
}

body {
  margin: 0;
}

#p {
  font-family: verdana;
  font-weight: 100;
  text-align: left;
}

h2 {
  color:black;
  font-family: verdana;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  color:gray;
  font-family: verdana;
  font-size: 120%;
  font-weight: 100;
  line-height: 26px;
}

h4 {
  color: white;
  font-family: verdana;
  position: absolute;
  padding: 0;
  margin: 0;
  margin-top: 2vh;
  z-index: 1; 
  font-size: 72px; 
  font-weight: 600;
  top: 0;
}

h5 {
  text-align: center;
  color: white;
  font-family: verdana;
  z-index: 1; 
  font-size: 24px; 
  font-weight: 100;
}

h6 {
  text-align: center;
  font-family: verdana;
  z-index: 1; 
  color: #ffffff; 
  font-size: 14px; 
  font-weight: 600;
  letter-spacing: 0.2em;
  margin-top: 12px;
}

h6 a {
  color: white;
}

h6 a:hover {
  color: white;
  text-decoration: none;
}

.rounded-corners{
  border-radius: 50% 50% 50% 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wideboi {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw; 
  margin: 0;
  padding: 0;
  margin-left: calc(-50vw + 50%);
  z-index:0;
}

.topnav {
  overflow: hidden;
  position: fixed;
  text-align: center;
  display: inline-block;
  background-color: #ffffff;
  margin: 0;
  height: 15vh;
  width: 100vw;
  z-index:1;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* Style the topnav links */
.topnav a {
  display: inline-block;
  padding: 20px 0;
  text-decoration: none;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  margin: 0;
  padding-bottom: 40px;
}

/* Left and right column */
.side {
  width: 40%;
  padding-right:10px;
  padding-top: 40px;
}

/* Middle column */
.middle {
  width: 60%;
  padding-left: 10px;
  padding-top: 30px;
}

.row {
  padding: 0;
  margin: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.landing {
  text-align: center;
  display: inline-block;
  vertical-align: central;
  position: absolute;
	top:3vh;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.wrapper {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-left: 25vw;
  width: 50vw;
  height: 65vh;
}

.title {
  position: fixed;
  display: inline-block;
  margin-left: 25vw;
  width: 50vw;
}

.caption {
  position: fixed;
  display: inline-block;
  margin-left: 25vw;
  margin-top: 12vh;
  width: 50vw;
}

.wrapper a {
  color: #C76322;
}

.content {
  background-color: #ffffff;
  padding: 10px;
  border: 2px solid green;
  max-width: 500px;
  position: relative;
}

/* Style the footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 20px;
  text-align: center;
  z-index: 2;
}

section { 
  display: block;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
}









/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.leftcolumn { 
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}






/* Navbar */
ul {
  font-weight: 100;
  position: fixed;
  top: 0;
  left:0;
  display: inline-block;
  text-align: center;
  margin-top: 15vh;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  list-style: none;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px none #C76322;
  z-index:1;
}

li {
  font-size: 12px;
  font-weight: 100;
  padding: 0;
  text-align: center;
  display: inline;
  letter-spacing: 0.2em;
}

li a {
  font-family: 'verdana';
  font-weight: 100;
  display: inline-block;
  color: #C76322;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 7px;
  text-decoration: none;
  margin: 0;
  margin-bottom: -1px;
  border-bottom: 1px none #C76322;
  transition: .2s;
}

/* Change the link on hover */
li a:hover {
  font-weight: 100;
  margin: 0;
  margin-bottom: -1px;
  padding-bottom: 5px;
  border-bottom: 5px solid #C76322;
  color: #C76322;
  text-decoration: none;
}

ulb {
  font-weight: 100;
  position: absolute;
  bottom: 8vh;
  left: 0;
  display: inline-block;
  text-align: center;
  margin-top: 25vh;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  list-style: none;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0);
  z-index:2;
}


lib {
  padding: 0;
  text-align: center;
  display: inline;
  background-color: white;
  padding: 8px;
}

lib a {
  display: inline-block;
  color: #C76322;
  background-color: white;
  text-align: center;
  margin: 0;
}

lib a:hover {
  color: #0D5280;
}

.readmore {
  position: fixed;
  display: inline-block;
  margin-left: 25vw;
  height: 40px;
  width: 50vw;
  background-color: #C76322;
}

.blackbox {
  position: fixed;
  display: inline-block;
  margin-left: 25vw;
  height: 40px;
  width: 50vw;
  background-color: #000;
  opacity: 0;
  z-index: 2;
}

a:hover.blackbox {
  cursor: hand;
  cursor: pointer;
  height: 30vh;
  width: 50vw;
  text-decoration: none;
  transition: .8s;
  background-color: #333;
  mix-blend-mode: overlay;
  opacity: .5;
  z-index: 2;
}
